<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>@Model.Photo.Name</title>
    <link rel="Stylesheet" type="text/css" href="/Content/Css/reset.css" />
    <link rel="Stylesheet" type="text/css" href="/Content/Css/photoblog.css" />

    <script type="text/javascript" src="/Content/Scripts/modernizr-1.7.min.js"></script>
</head>
<body>
    <header>MyPhotoBlog</header>
    <div id="main">
        <h1>@Model.Photo.Name</h1>
        <div id="photo">
            <img src="/Data/@Model.Photo.Filename" />
        </div>
        <div id="exif">
            <span class="type">Camera:</span> <span id="camera" class="value camera">@Model.Photo.Camera</span>
            <span class="type">Lens:</span> <span id="lens" class="value">@Model.Photo.Lens</span>
            <span class="type">Aperture:</span> <span id="aperture" class="value">@Model.Photo.Aperture</span>
            <span class="type">Exposure:</span> <span id="exposure" class="value">@Model.Photo.Exposure</span>
            <span class="type">ISO:</span> <span id="iso" class="value">@Model.Photo.ISO</span>
        </div>
        <nav>
            @if (Model.HasPrevious)
            {
                <a id="previous" href="/photo/@Model.PreviousSlug">&laquo; Previous</a>
            }
            else
            {
                <span id="previous">&laquo; Previous</span>
            }

            <a href="/archives" id="archives">Archives</a>

            @if (Model.HasNext)
            {
                <a id="next" href="/photo/@Model.NextSlug">Next &raquo;</a>
            }
            else
            {
                <span id="next">Next &raquo;</span>
            }
        </nav>
        <div id="comments">
            <h2>Comments</h2>
            <div id="commentsform">
                <a name="comments"></a>

                @foreach (var comment in @Model.Comments)
                {
                    <div class="comment">
                        <div class="commenter">
                            @if (String.IsNullOrEmpty(comment.Website))
                            {
                                @comment.Name <text> wrote:</text>
                            }
                            else
                            {
                                <a href="@comment.Website">@comment.Name</a> <text> wrote:</text>
                            }
                        </div>
                        <div class="message">@comment.Message</div>
                    </div>
                }

                <h3>Add a comment</h3>
                <form action="/photo/@Model.Photo.Slug/addcomment" method="POST">
                    @if (@Model.HasErrorMessage)
                    {
                        <div id="errormessage">
                            @Model.ErrorMessage
                        </div>
                    }
                    <div class="formitem">
                        <label for="Name">Your name</label>
                        <input type="text" id="Name" name="Name" />
                        <span class="mandatory">*</span>
                    </div>

                    <div class="formitem">
                        <label for="Email">Your email address</label>
                        <input type="text" id="Email" name="Email" />
                        <span class="mandatory">*</span>
                    </div>

                    <div class="formitem">
                        <label for="Website">Your website</label>
                        <input type="text" id="Website" name="Website" />
                    </div>

                    <div class="formitem">
                        <label for="Message">Your message</label>
                        <textarea id="Message" name="Message"></textarea>
                        <span class="mandatory">*</span>
                    </div>

                    <div class="formitem">
                        <input type="submit" id="commentsubmit" name="commentsubmit" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer>MyPhotoBlog is built with <a href="https://github.com/NancyFX/Nancy">Nancy</a> and <a href="https://github.com/markrendle/Simple.Data">Simple.Data</a>.</footer>

    <script type="text/javascript" src="/Content/Scripts/jquery-1.5.2.min.js"></script>
</body>
</html>
